body
{
    color: rgb(13, 16, 184);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16 px;
    margin: 0;
    padding: 0;
}

#cabera
{
    background: blueviolet;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0,5);
    color: seashell;
    font-weight: bold;
    margin: 0;
    padding: 0.5cm;
}

#cabera #tagline
{
    padding: 0 0 0 1cm;
    font-weight: normal;
    font-size: 0.0cm;
    color: teal;
}
#container
{
    width: 70%;
    padding: 1cm;
    text-align: left;
    border: 1px solid;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}